body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255, 144, 14, 0.1);
}


/* header section*/
.header {
    background-color: burlywood;
    height: 40px;
    padding: 15px;

}

.header-nav {
    display: flex;
    justify-content: space-between;

}

.header-title {
    font-size: x-large;
    font-weight: bolder;
}

.header-item span {
    font-size: larger;
    margin-left: 20px;
    font-weight: 600px;

}

.header-item span a {
    text-decoration: none;

}

/* main section-1*/

.f-sec-header {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.f-sec-title {
    font-size: xx-large;
    font-weight: bolder;
}

.f-sec-p {
    text-align: justify;
    color: #727272;
}

.btn-1 {
    padding: 2%;
    background-color: rgb(249, 118, 11);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.btn-1:hover {
    padding: 2%;
    background-color: rgb(13, 154, 214);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: medium;
    font-weight: 500;
}

/* main section-2*/

.section-2 img {
    width: 100%;
}



/*

.sec3div-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

*/