


.header{
   
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    margin: 0px 30px;
    padding: 20px;
    
}
.header-div-2 ul{
    display: flex;
    margin-top: 20px;
   
}
li{
    text-decoration-line: none;
    padding: 0px 20px;
}

.section-1{
    background-color: rgb(232, 220, 245);
   
   
}
.section-2 img{
    width: fit-content;
}


.sec3div-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

